/yay
/systemd
/pulse
/nautilus
/matplotlib
/go
/gnome-session
/BraveSoftware
/dconf
/ibus

# Vscode
Code/*

!Code/User/

Code/User/*

!Code/User/settings.json




.gsd-keyboard.settings-ported
baloofilerc
mimeapps.list
user-dirs.dirs
user-dirs.locale