body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10pt;
}

body > blockquote > p,
body > blockquote > ul > li,
body > blockquote > ol > li {
  text-align: left;
  text-indent: 0in;
}

.no-indent > p,
.no-indent > ul > li,
.no-indent > ol > li {
  text-align: left;
  text-indent: 0in;
}